.footer {
  position: sticky;
  justify-content: space-between;
  align-items: center;
  display: flex;
  bottom: 0;
  height: 3rem;
  width: 480px;
  background-color: rgb(218, 218, 218);
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: rgb(149, 147, 147);
}
